.round-img {
    border-radius: 100px;
    width: auto;
    margin: auto;
    height: 200px;
    align-items: center;
}

.py-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-center {
    width: auto;
    margin: auto;
}